@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 1250px;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 30px;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px ;
	
	
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 20px;
	
}

.customer-support i {
	font-size: 40px;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
	
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 5px;
}

.container-logo i {
	font-size: 30px;
	
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: -1px;
	
	
}

.container-user {
	display: flex;
	gap: 10px;
	cursor: pointer;
	
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 25px;
	border-right: 1px solid #e2e2e2;
	
	
}

.container-user .fa-basket-shopping {
	font-size: 30px;
	color: var(--primary-color);
	padding-left: 10px;
	
	
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
	
	
}

/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px ;
	justify-content: center;
		
}

.navbar .fa-bars {
	display: none;
}

.menu {
	
	display: flex;
	gap: 20px;
	
	padding: 10px ;

}

.menu li {
	list-style: none;
	
}

.menu a {
	text-decoration: none;
	font-size: 13px;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	padding: 30px ;
	
}

.menu a::after {
	content: '';
	width: 15px;
	height: 1px;
	background-color: #ffffff00;
	position: absolute;
	bottom: -3px;
	left: 50%;
	
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
	
}

.menu a:hover {
	color: #fff;
	
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('img/banner.jpeg');
	height: 600px;
	background-size: cover;
	background-position: center;
	text-align: left;
}

.content-banner {
	max-width: 800px;
	margin: 0 auto;
	padding: 0px ;
	padding-top: 200px;
}


.content-banner p {
	color: var(--primary-color);
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 20px;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 10px 30px;
	text-transform: uppercase;
	border-radius: 30px;
}

.content-banner a:hover {
	color: #000;

}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	padding: 30px 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;

	background-color: #fff;
	border-radius: 10px;
	padding: 15px 0;
}

.card-feature i {
	font-size: 27px;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.feature-content span {
	font-weight: 700;
	font-size: 12px;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 30px;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.card-category {
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	gap: 20px;
}

.category-piqueos {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/Categoria.piqueos.jpeg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-bebidas{
	background-image: linear-gradient(#00000080, #00000080),
		url('img/Categoria.bebidas.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-proteinas {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/Categoria.proteinas.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 25px;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 25px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.card-category span:hover {
	color: var(--primary-color);
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 30px;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 10px;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 7px 30px;
	font-size: 14px;
	text-transform: capitalize;
	border-radius: 20px;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 30px;
}

.card-product {
	background-color: #fff;
	padding: 20px 30px;

	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
	max-width: 1000px;
	min-width: 100px;
}

.container-img img {
	width: 100%;
	height: 300px; 
    object-fit: cover; 
    display: block;
}



.container-img .discount {
	
	position: absolute;
	left: -10px;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 12px;
	border-radius: 10px;
	font-size: 12px;
	margin: 10px;
	gap:10px;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 10px;

	position: absolute;
	top: 0;
	right: -30px;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 8px;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 15px;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -10px;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 10px;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
    margin: 15px 0;
}

.stars i {
	font-size: 13px;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 16px;
	margin-bottom: 1px;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 15px;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;
	font-size: 17px;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 15px;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 5px;
}

/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 300px);
	gap: 15px;
	margin-bottom: 30px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/* ********************************** */
/*              Nuevos proudctos      */
/* ********************************** */
.newproduct {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 30px;
	
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
.blogs {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin: 30px 0 50px;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card-blog .container-img {
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 15px;
	right: -250px;

	display: flex;
	gap: 7px;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 15px;
}

.button-group-blog span {
	background-color: #fff;
	padding: 10px;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 13px;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 18px;
	margin-bottom: 17px;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 14px;
	color: #777;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 13px;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 30px;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(2,1fr) 400px;
	gap: 30px;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.whatsapp {
	background-color: #20aa33;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.facebook {
	background-color: #334dc0;
}

.tiktok {
	background-color: #000000;
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}
