@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.text {
    color:black;
}

.number {
    color:black;
}


.customer-support {

    color:black; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #fff;
}

/* ********************************** */
/*           Categoria                */
/* ********************************** */


.container-catego {

    display: flex;
    position: absolute;
    align-items: center;
    left: 10%;
    margin-top: 40px;

}

.Catego h2 {
    color:black;
}

.Indice {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;

	background-color: var(--primary-color);
	border-radius: 10px;
	padding: 50px ;
}


.Catego li {
    display: flex;
}

.Catego a {
	text-decoration: none;
	font-size: 13px;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	padding: 30px ;
    margin-right: 20px;

}

.Catego a::after {
	content: '';
	width: 15px;
	height: 1px;
	background-color: #ffffff00;
	position: absolute;
	bottom: -3px;
	left: 50%;
	
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.Catego a:hover::after {
	opacity: 1;
	
}

.Catego a:hover {
	color: #fff;
	
}