@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
    max-width: 1250px;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    padding: 1rem;
    background-color: brown;
    color: #e5d4b6;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
    background-color: var(--background-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.customer-support {
    display: flex;
    align-items: center;
    gap: 20px;
}

.customer-support i {
    font-size: 40px;
}

.content-customer-support {
    display: flex;
    flex-direction: column;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-logo i {
    font-size: 30px;
}

.container-logo h1 a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.container-user .fa-user {
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 25px;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
    font-size: 30px;
    color: var(--primary-color);
    padding-left: 10px;
}

.content-shopping-cart {
    display: flex;
    flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    justify-content: center;
}

.navbar .fa-bars {
    display: none;
}

.menu {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 30px;
}

.menu a::after {
    content: '';
    width: 15px;
    height: 1px;
    background-color: #ffffff00;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
    background-image: linear-gradient(100deg, #000000, #00000020), url('img/banner.jpeg');
    height: 600px;
    background-size: cover;
    background-position: center;
    text-align: left;
}

.content-banner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 200px;
}

.content-banner p {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.content-banner h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2;
}

.content-banner a {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 30px;
}

.content-banner a:hover {
    color: #000;
}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
    background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px 0;
}

.card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0;
}

.card-feature i {
    font-size: 27px;
    color: var(--primary-color);
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.feature-content span {
    font-weight: 700;
    font-size: 12px;
    color: var(--dark-color);
}

.feature-content p {
    color: #777;
    font-weight: 500;
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-category {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 20px;
}

.category-piqueos {
    background-image: linear-gradient(#00000080, #00000080), url('img/Categoria.piqueos.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-bebidas {
    background-image: linear-gradient(#00000080, #00000080), url('img/Categoria.bebidas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-proteinas {
    background-image: linear-gradient(#00000080, #00000080), url('img/Categoria.proteinas.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-category p {
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after {
    content: '';
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover {
    color: var(--primary-color);
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 2rem 0;
}

.container-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.container-options span {
    color: #777;
    background-color: #fff;
    padding: 7px 30px;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 20px;
    cursor: pointer;
}

.container-options span:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span.active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Products */
.container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.card-product {
    background-color: #fff;
    padding: 20px 30px;
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
    position: relative;
    max-width: 1000px;
    min-width: 100px;
}

.container-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.container-img .discount {
    position: absolute;
    left: -10px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 12px;
}
.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

